<h2>INSTRUCTIONS: </h2>
<h3>1. Add the task to the list by specifying 'Task Details' and then pressing the '+' button.</h3>
<h3>2. A given task either complete or incomplete can be removed using the 'REMOVE' button provided to the right of each task detail.</h3>
<h3>3. Details of a given task can simply be edited out by clicking it, then editing and then saving the task.</h3>
<h3>4. A status checkbox is provided to each task in order to specify if a task is complete(checked) or incomplete)</h3>
<h3>5. Following 3 categories are provided: </h3>
<h3>
  <ol type="i">
    <li>All</li>
    <li>Completed</li>
    <li>Incomplete</li>
  </ol>
</h3>
<h3>6. A completed task cannot be edited.</h3>
