h1 {
  background-color: mediumblue;
  color: snow;
  font-family: Arial, sans-serif;
  font-size: 40px;
  padding: 10px 10px 10px 20px;
  margin: 0px 0px 0px 0px;
}

button {
  color: black;
  outline: none;
  border: none;
  background-color: lightgrey;
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px;
  font-size: large;
}

button:hover {
  color: #211aad;
  background-color: #f7f7f7;
}
