<div *ngIf="task" class="details">
  <h2>Task {{task.id}} Details!</h2>

  <div class="inputDetails">
    <label>Details: </label>
    <input [disabled]="task.status" [(ngModel)]="task.name" placeholder="name"/>
  </div>

  <div class="status">
    <label>Status: </label>
    <strong *ngIf="task.status" style="color: greenyellow">COMPLETED</strong>
    <strong *ngIf="!task.status" style="color: red">PENDING</strong>
  </div>

  <div class="buttons">
    <button (click)="save()">Save</button>
    <button (click)="goBack()">Back</button>
  </div>
</div>
