label {
  font-family: Arial Black, sans-serif;
  margin: 3px 3px 3px 3px;
}
.details {
  margin-left: 20px;
  font-family: Arial, sans-serif;
}

.details h2 {
  font-family: Arial Black, sans-serif;
}

.inputDetails {
  margin: 5px 5px 5px 5px;
}

.inputDetails input {
  width: 50%;
  padding: 5px;
  border-color: greenyellow;
  font-size: medium;
}

.status {
  margin: 5px 5px 5px 5px;
}

.buttons {
  margin: 5px 5px 5px 5px;
}

.buttons button {
  color: white;
  outline: none;
  border: none;
  padding: 3px 10px 3px 10px;
  background-color: mediumblue;
  font-size: medium;
  margin: 5px 5px 5px 5px;
}

.buttons button:hover {
  border: mediumblue;
  color: mediumblue;
  background-color: snow;
  outline: solid;
}
