.box {
  font-family: "Arial", serif;
  margin-left: 20px;
  margin-right: 20px;
}

.box table {
  margin-top: 20px;
  margin-right: 20px;
  border: 1px solid #e8e8e8;
  border-collapse: collapse;
  background-color: #f7f7f7;
  width: 100%;
  box-shadow: 5px 5px 2px #e8e8e8;;
}

.box tr {
  border: 2px solid #e8e8e8;
}

.box tr:hover {
  background-color: #ffff99;
}

.box td {
  padding: 5px;
  text-align: left;
}

.box button {
  outline: none;
  border: none;
  font-family: Calibri, serif;
}

.box button:hover {
  background-color: red;
  color: #f7f7f7;
}

.headnav {
  margin: 5px 5px 5px 20px;
}

.headnav button {
  font-family: Calibri, sans-serif;
  margin: 3px 3px 3px 3px;
  padding: 5px 10px 5px 10px;
  font-size: medium;
  color: antiquewhite;
  outline: none;
  border: none;
}

.headnav button:hover {
  color: orange;
}

.add {
  margin: 5px 5px 5px 20px;
}

.add input {
  font-size: medium;
  border-color: red;
  width: 80%;
  padding: 5px;
  margin: 2px 2px 2px 2px;
}

.add button {
  outline: none;
  border: none;
  background-color: red;
  color: white;
  font-size: medium;
  padding: 7px 20px 7px 20px;
  font-family: Arial, sans-serif;
  margin: 2px 2px 2px 2px;
}

.add button:hover {
  color: yellow;
}

.add label {
  font-family: Arial, sans-serif;
}
