<div class="add">
  <label><strong>Enter Details: </strong></label>
  <input #taskDetail placeholder="What is to be performed..."/>
  <button (click)="add(taskDetail.value); taskDetail.value=''">+</button>
</div>
<div class="headnav">
  <button (click)="setCategory('all')" style="background-color: darkblue" *ngIf="category === 'all'">All</button>
  <button (click)="setCategory('all')" style="background-color: black" *ngIf="category !== 'all'">All</button>
  <button (click)="setCategory('complete')" style="background-color: darkblue" *ngIf="category === 'complete'">Completed</button>
  <button (click)="setCategory('complete')" style="background-color: black" *ngIf="category !== 'complete'">Completed</button>
  <button (click)="setCategory('incomplete')" style="background-color: darkblue" *ngIf="category === 'incomplete'">Incomplete</button>
  <button (click)="setCategory('incomplete')" style="background-color: black" *ngIf="category !== 'incomplete'">Incomplete</button>
</div>
<div class="box">
  <table>
    <tr class="head">
      <td style="text-align: center"><h3>ID</h3></td>
      <td style="text-align: left"><h3>Tasks To Be Performed</h3></td>
      <td style="text-align: center"><h3>Status</h3></td>
      <td style="text-align: center"><h3>Delete</h3></td>
    </tr>
    <tr *ngFor="let task of tasks">
      <td style="text-align: center"
        *ngIf="((category === 'all') || ((category === 'complete') && task.status) || ((category === 'incomplete') && !task.status))">
        {{task.id}}
      </td>
      <td style="text-align: left"x
        [routerLink]="['/detail',task.id]"
          *ngIf="((category === 'all') || ((category === 'complete') && task.status) || ((category === 'incomplete') && !task.status))">
        <del *ngIf="task.status && (category === 'all')">
          {{task.name}}
        </del>
        <span *ngIf="!task.status || (category === 'complete')">
          {{task.name}}
        </span>
      </td>
      <td style="text-align: center"
          *ngIf="((category === 'all') || ((category === 'complete') && task.status) || ((category === 'incomplete') && !task.status))">
        <input type="checkbox" [checked]="task.status" [(ngModel)]="task.status" title="" (change)="updateProgress(task)"/>
      </td>
      <td style="text-align: center"
          *ngIf="((category === 'all') || ((category === 'complete') && task.status) || ((category === 'incomplete') && !task.status))">
        <button (click)="deleteTask(task); $event.stopPropagation()">REMOVE</button>
      </td>
    </tr>
  </table>
</div>
